{% extends 'base.html.twig' %}

{% block title %} Ferrovipath - Classement {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <h2 class="mb-4">
        <i class="fas fa-list" aria-hidden="true"></i> Liste des utilisateurs qui ont joué à/aux jeu(x)
    </h2>

    {% if joueurs is empty %} <!--à changer -->
        <p class="alert alert-warning">Aucun utlisateur n'a encore joué.</p>
    {% else %}
        <table class="table table-bordered table-hover table-striped">
            <thead class="table-dark"> <!-- on définit l'en-tête du tableau-->
                <tr>
                    <th>Date</th>
                    <th>Pseudo</th>
                    <th>Score</th>
                    <th>Postion</th>
                </tr>
            </thead>
            <tbody> <!-- on définit le corps du tableau-->
            {% for utilisateur in joueurs %} <!--à changer-->
                <tr>
                    <td>{{utilisateur.date}}</td>
                    <td>{{utilisateur.pseudo}}</td>
                    <td>{{utilisateur.score}}</td>
                    <td>{{utilisateur.position}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>    
    {% endif %}
{% endblock %}